	<% posts.forEach(function(post, index) { %>
	<div class="row">
		<h2><a href="/u/<%= post.user %>"><%= post.user %></a></h2>
		<p><small><%= post.time %></small></p>
		<p><%= post.post %></p>
	</div>

	<%}) %>
 