			  <hr />
		<footer>
		<p class="center"><a href="http://www.bycoco.com/" target="_blank">BYCoCo</a> 2016</p>
		</footer>
		</div>
	</body>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
</html>